body {
    font-family: sans-serif;
    background-color: black;
  }
  
  p a {
    color: #31c8ff !important;
    font-weight: 900;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .card {
    background: linear-gradient(-135deg, transparent 35px, #374247 0);
    border: none;
    padding: 20px;
    border-radius: 0.25rem;
    filter: drop-shadow(2px 2px 10px #7dd4a8);
    max-width: 550px;
    margin: 110px auto 110px;
  }
  .card h1,
  .card p {
    color: #7dd4a8 !important;
    margin: 4px;
  }
  .card p a{
    font-weight: 600;
  }
  .card hr {
    border-color: #7dd4a8 !important;
  }
.contactlink{
  text-decoration: none;
  font-weight: 400;
}